<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flaskr-TDD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="page">
        <h1>Flaskr - TDD</h1>
        <div class="metanav">
            {% if not session.logged_in %}
                <a href="{{ url_for('login') }}">Log In</a>
            {% else %}
                <a href="{{ url_for('logout') }}">Log Out</a>
            {% endif %}
        </div>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block body %}
        {% endblock %}
        
        {% if session.logged_in %}
            <form action="{{ url_for('add_entry') }}" method='post' class='add-entry'>
                <dl>
                    <dt>Title:</dt>
                    <dd><input type="text" size="30" name='title'></dd>
                    <dt>Text:</dt>
                    <dd><textarea name="text" cols="40" rows="5"></textarea></dd>
                    <dd><input type="submit" value="Share"></dd>
                    <dd></dd>
                </dl>
            </form>
        {% endif %}
        <ul class="entries">
            {% for entry in entries %}
                <li class='entry'>
                    <h2 id="{{ entry.id }}">{{ entry.title }}</h2>
                    {{ entry.text|safe }}
                </li>
            {% else %}
                <li><em>No entries yet. Add some!</em></li>
            {% endfor %}
        </ul>
    </div>
<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='main.js') }}"></script>
</body>
</html>